.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr !important;
  }
}
